<div class="container my-1">

  <!-- <app-directive-ngif></app-directive-ngif> -->

  <!-- <app-directive-ngswitch></app-directive-ngswitch> -->

  <!-- <app-directive-ngfor></app-directive-ngfor> -->

  <!-- <app-directive-ngclass></app-directive-ngclass> -->

  <!-- <app-directive-ngstyle></app-directive-ngstyle> -->

  <!-- <app-operator-elvis></app-operator-elvis> -->

  <!-- <app-directive-ngcontent>
    <div class="title">
      Card title
    </div>
    <div class="content">
      First card content
    </div>
    <div class="content">
      Second card content
    </div>
  </app-directive-ngcontent> -->

  <app-custom-directives></app-custom-directives>

</div>
